$color-default: #ffffff;
$color-default-alt: #333333;
$color-background: #333333;
$color-primary: #18d9d8;
$color-secondary: #db504e;
$color-success: #2ecc71;
$color-error: #e74c3c;
$font-primary: 'Open Sans', Arial, Sans-Serif;
$font-log: monospace;
$shadow-primary: -0.25rem -0.25rem 1rem 0.25rem rgba($color-secondary, 0.75), 0.25rem 0.25rem 1rem 0.25rem rgba($color-primary, 0.75);
$shadow-secondary: 0 0 1rem 0.25rem rgba($color-default, 0.75);

// breakpoints
   
$bp-small:     480px;   
$bp-medium:    768px;     
$bp-large:     1100px;     

// media queries

@mixin bp($canvas) {
  @if $canvas == sm {
   @media only screen and (min-width: $bp-small) { @content; } 
  }
  @else if $canvas == md {
   @media only screen and (min-width: $bp-medium) { @content; } 
  }
  @else if $canvas == lg {
   @media only screen and (min-width: $bp-large) { @content; } 
  }
}

:root {
	--vh: 1vh;
	--vw: 1vw;
	font-size: 62.5%;
	overflow: hidden;
	width: 100%;
	height: calc(100 * var(--vh));
	line-height: 1.5;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	position: relative;
	font-family: $font-primary;
	background-color: $color-background;
	height: calc(100 * var(--vh));
	width: 100%;
	overflow: hidden;

	&:after {
		content: '';
		display: block;
		width: 100%;
		height: 100%;

		position: absolute;
		left: 0; 
		top: 0;
		z-index: -1;

		background-image: url('../img/background.jpg');
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;

		opacity: 1;
		transition: all .3s ease;
	}

	&.init:after {
		opacity: 0.2;
	}
}

canvas {
	width: 100%;
	height: 100%;
	cursor: none;
}

a, button {
	cursor: pointer;
	text-decoration: none;
	border: 0;
	font-size: 1.5rem;
	box-shadow: none;
	line-height: 1.5;
	display: inline-flex;
	align-items: center;
	align-content: center;
	justify-content: center;
	background: transparent;
	color: $color-default-alt;
	outline: 0;
	transition: all .2s ease;

	&.btn {
		line-height: 1;
		padding: 0.5rem;
		background-color: $color-background;
		color: $color-default;
		text-transform: uppercase;
		font-weight: 600;
		letter-spacing: 0.6rem;
		overflow: hidden;
		width: 16rem;
		height: 6rem;
		position: relative;
		flex-direction: column;
		font-size: 1.8rem;
		align-items: center;
		justify-content: center;
		user-select: none;

		span, i {
			z-index: 1;
			display: block;
			background-color: $color-background;
			display: flex;
			align-items: center;
			justify-content: center;
			flex: 1;
		}

		&.btn-highlight {
			align-items: stretch;
			justify-content: stretch;
			// border: 5px solid $color-background;
			box-shadow: 0 0 20px 0 rgba($color-primary, 0.5);

			&:before, &:after {
				content: '';
				display: block;
				position: absolute;
				z-index: 0;
				top: 0;
				left: 0;
				width: 200%;
				height: 200%;
				transition: all .2s ease;
			}

			&:before {
				background-color: $color-primary;
				transform: rotate(45deg) translate(-30%, 75%);
			}

			&:after {
				background-color: $color-secondary;
				transform: rotate(45deg) translate(-10%, -20%);
			}

			&:hover {
				// background-color: $color-default;
				color: $color-primary;
				border-color: $color-default-alt;
				background-color: $color-default-alt;
				box-shadow: 0 0 20px 0 rgba($color-default, 0.5);

				&:before {
					transform: rotate(60deg) translate(0%, 75%);
				}

				&:after {
					transform: rotate(60deg) translate(20%, -20%);
				}
			}
		}

		&.btn-color, &.btn-draw {
			text-shadow: 0px 4px 3px rgba($color-default-alt,0.4),
			             0px 8px 13px rgba($color-default-alt,0.1),
			             0px 18px 23px rgba($color-default-alt,0.1);

			&.light {
				color: $color-default-alt;
			}
		}

		&.btn-draw {
			// box-shadow: -0.25rem -0.25rem 1rem 0.25rem rgba($color-secondary, 0.75), 0.25rem 0.25rem 1rem 0.25rem rgba($color-primary, 0.75);
			width: 100%;
			box-shadow: $shadow-secondary;
		}
	}
}

ul {
	li {
		display: flex;
	}

	span {
		display: block;
	}

	span.label {
		font-weight: bold;
		margin-right: 5px;
	}
}

input {
	font-size: 1.6rem;
	line-height: 1;
	padding: 1.5rem 1.8rem;
	border: 0;
	transition: all .2s ease;
	box-shadow: -0.5rem -0.5rem 2rem 0 rgba($color-secondary, 0);
	background-color: rgba($color-default, 0.8);
	text-transform: uppercase;
	letter-spacing: 0.3rem;
	font-size: 1.8rem;

	&:focus {
		outline: 0;
		// box-shadow: -0.5rem -0.5rem 2rem 0.25rem rgba($color-secondary, 0.5), 0.5rem 0.5rem 2rem 0.25rem rgba($color-primary, 0.5);
		box-shadow: $shadow-primary;
	}	
}

.modal-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: calc(100 * var(--vh));
	background-color: rgba(0,0,0,0.3);
	z-index: -1;
	opacity: 0;
	transition: all .3s ease;

	&.toggled {
		z-index: 9999;
		opacity: 1;
	}

	article.modal {
		position: fixed;
		bottom: 0;
		left: 50%;
		z-index: -1;
		width: 95%;
		height: auto;
		opacity: 0;
		max-width: 60rem;
		margin: 10rem 0 2.5rem 0;
		transform: translate(-50%, -5rem);
		transition: all .3s ease .2s;
		padding: 2rem;

		@include bp(sm) {
			padding: 5rem;
			background-color: rgba($color-background, 0.95);
			bottom: auto;
			top: 0;
			// box-shadow: 0 14px 28px rgba($color-default,0.25), 0 10px 10px rgba($color-default,0.22);
			box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
			// box-shadow: -0.5rem -0.5rem 2rem 0 rgba($color-secondary, 0.5), 0.5rem 0.5rem 2rem 0 rgba($color-primary, 0.5);
		}

		&.toggled {
			&, &.in {
				z-index: 9999;
				opacity: 1;
				transform: translate(-50%, 0);
			}

			&.out {
				opacity: 0;
				transform: translate(-75%, 0);
			}
		}

		&.in {
			transform: translate(-25%, 0);
		}

		header {
			font-size: 2.8rem;
			font-weight: 600;
			color: $color-default;
			text-transform: uppercase;
			letter-spacing: 0.6rem;
			margin-bottom: 3rem;
			text-align: center;
			display: none;

			@include bp(sm) {
				display: block;
			}
		}

		form {
			display: flex;
			align-items: stretch;
			justify-content: stretch;
			position: relative;

			input {
				flex-grow: 1;
			}

			&.device-form {
				justify-content: space-between;
				margin: 1rem 0 0 0;

				button.btn {
					margin-right: 2rem;

					&:last-child {
						margin-right: 0;
					}
				}
			}

			&.login-form {
				button.nobtn {
					position: absolute;
					z-index: 1;
					right: 0;
					font-size: 3.6rem;
					padding: 0 2rem;
    				height: 100%;
    				opacity: 1;

    				&:hover {
    					opacity: 0.8;
    				}
				}
			}
		}
	}
}

section.main {
	height: calc(100 * var(--vh));
	width: 100%;
	opacity: 0;
	z-index: -1;
	transition: all .3s ease;
	position: absolute;
	top: 0;
	left: 0;

	&.active {
		opacity: 1;
		z-index: 99;
	}
}

section.brush {
	padding: 2rem;
	display: flex;
	flex-direction: column;

	ul.colors {
		display: flex;
		flex-wrap: wrap;

		li {
			width: calc(50% - 0.5rem);
			margin: 0 1rem 1rem 0;

			&:nth-child(even) {
				margin-right: 0;
			}
		}
	}

	button.btn-draw {
		margin-top: auto;
	}
}

section.canvas {
	position: relative;
	background-color: $color-default;

	& > .log {
		height: 100%;
		width: 30rem;
		position: absolute;
		right: 0;
		top: 0;
		background-color: rgba($color-background, 0.7);
	}

	canvas {
		width: 100%;
		height: 100%;
	}
}

.log {
	font-family: $font-log;
	color: $color-default;
	font-size: 1.5rem;
	width: 100%;
	overflow-y: auto;

	table {
		width: 100%;
    	text-align: right;
	}
}